* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header-nav {
  background-color: #222;
  width: 100%;
  height: 75px;
  padding: 18px 230px;
  display: flex;
  justify-content: space-between;
}
.header-nav__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header-nav__right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-nav__cart {
  margin-left: 42px;
}

.header-title-box {
  background-color: #F8F3F4;
  width: 100%;
  height: 148px;
  padding: 60px 230px;
  display: flex;
  justify-content: space-between;
}
.header-title-box__title {
  color: #F16D7F;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-title-box__breadcrumbs {
  color: #636363;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.header-title-box__links {
  color: #636363;
}
.header-title-box__links-selected {
  color: #F16D7F;
}

.main-mainproduct {
  width: 100%;
}
.main-mainproduct__image-box {
  background-color: #F7F7F7;
  height: 777px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-mainproduct__link {
  background-color: rgba(42, 42, 42, 0.15);
  padding: 8px;
}
.main-mainproduct__arrow {
  width: 31px;
  height: 31px;
}
.main-mainproduct__description-box {
  width: 1140px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  position: relative;
  top: -50px;
  padding: 64px 292px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
}
.main-mainproduct__subtitle {
  color: #F16D7F;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.main-mainproduct__pinkline {
  width: 63px;
  height: 3px;
}
.main-mainproduct__title {
  color: #4D4D4D;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.main-mainproduct__text {
  margin-top: 36px;
  color: #5E5E5E;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}
.main-mainproduct__price {
  margin-top: 20px;
  color: #F16D7F;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.main-mainproduct__grayline {
  margin-top: 53px;
  width: 641px;
}
.main-mainproduct__select-container {
  margin-top: 53px;
  display: flex;
  gap: 7px;
}
.main-mainproduct__select {
  border: none;
  color: #6F6E6E;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-mainproduct__button {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  border: 2px solid #F16D7F;
  border-radius: 0;
  padding: 15px 57px 9px 24px;
  background-color: #fff;
  color: #F16D7F;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products-catalog {
  margin-top: 79px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.products-catalog__product-card {
  width: 360px;
}
.products-catalog__image {
  margin: 0;
}
.products-catalog__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 24px 28px 20px 18px;
  background-color: #F8F8F8;
}
.products-catalog__title {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.products-catalog__text {
  color: #5D5D5D;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.products-catalog__price {
  margin-top: 6px;
  color: #F16D7F;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */