* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-content {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.box-content {
  overflow: hidden;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.header-nav {
  background-color: #222;
  width: 100%;
  height: 75px;
  padding: 18px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header-nav__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header-nav__right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-nav #burger {
  position: absolute;
  left: -99999999;
  visibility: hidden;
}
.header-nav #burger:checked ~ .burger-nav {
  right: 0;
}
.header-nav .burger-nav {
  width: 232px;
  padding: 32px;
  background-color: #fff;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  position: absolute;
  top: 75px;
  right: -232px;
  transition: right 0.3s;
}
.header-nav .burger-nav__title {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-nav .burger-nav__details {
  margin-top: 24px;
}
.header-nav .burger-nav__details-title {
  color: #F16D7F;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-nav .burger-nav__link-box {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 22px;
}
.header-nav .burger-nav__link-box a {
  color: #6F6E6E;
}
.header-nav__cart {
  margin-left: 42px;
}

.header-title-box {
  background-color: #F8F3F4;
  width: 100%;
  height: 148px;
  padding: 60px 230px;
  display: flex;
  justify-content: space-between;
}
.header-title-box__title {
  color: #F16D7F;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.cart {
  margin: 96px 0 128px 0;
  display: flex;
  justify-content: center;
  gap: 129px;
}
.cart__products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.cart__product-card {
  width: 652px;
  display: flex;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.cart__product-image {
  width: 262px;
}
.cart__description {
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #FFF;
  padding: 22px 22px 62px 31px;
}
.cart__description-header {
  display: flex;
  justify-content: space-between;
}
.cart__title {
  padding-right: 120px;
  margin-bottom: 36px;
  color: #222;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__close:hover .cart__path {
  fill: #F16D7F;
}
.cart__text {
  color: #575757;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__text-selected {
  color: #EF5B70;
}
.cart__text-input {
  width: 44px;
  color: #656565;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 15px;
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  border-radius: 0;
}
.cart__buttons {
  width: 652px;
  display: flex;
  justify-content: space-between;
}
.cart__button {
  padding: 17px 41px 16px 39px;
  border: 1px solid #A4A4A4;
  border-radius: 0;
  background-color: #fff;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__button:hover {
  background-color: #F16D7F;
  color: white;
  border: 1px solid #F16D7F;
}
.cart__ship-form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__ship-title {
  color: #222;
  font-size: 16px;
}
.cart__input-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart__ship-input {
  width: 358px;
  padding: 13px 0 13px 17px;
  border: 1px solid #A4A4A4;
  border-radius: 0;
  background-color: #fff;
  color: #222;
}
.cart__ship-input::-moz-placeholder {
  color: #B1B1B1;
}
.cart__ship-input::placeholder {
  color: #B1B1B1;
}
.cart__ship-button {
  width: 102px;
  padding: 10px 14px 12px 15px;
  border: 1px solid #A4A4A4;
  border-radius: 0;
  background-color: #fff;
  color: #4A4A4A;
  font-size: 11px;
  box-sizing: content-box;
}
.cart__ship-button:hover {
  background-color: #F16D7F;
  color: white;
  border: 1px solid #F16D7F;
}
.cart__total {
  width: 360px;
  padding: 39px 34px 42px 44px;
  background-color: #F5F3F3;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.cart__sub {
  color: #4A4A4A;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__sub-selected {
  margin-left: 20px;
}
.cart__sub-selected:hover {
  color: #F16D7F;
}
.cart__grand {
  margin-top: 12px;
  margin-bottom: 21px;
  color: #222;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__grand-selected {
  margin-left: 20px;
}
.cart__grand-selected:hover {
  color: #F16D7F;
}
.cart__total-button {
  margin-top: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 0;
  background-color: #fff;
  padding: 15px 43px 16px 41px;
  color: #4A4A4A;
}
.cart__total-button:hover {
  background-color: #F16D7F;
  color: white;
  border: 1px solid #F16D7F;
}

.contacts {
  padding: 97px 327px 126px 231px;
  display: flex;
  gap: 223px;
  justify-content: space-between;
  align-items: center;
  background-image: url("images/contacts_back.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.contacts__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.contacts__text {
  width: 359px;
  color: #222224;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__image {
  width: 96px;
  height: 96px;
}
.contacts__right {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
}
.contacts__text-right {
  color: #222224;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.contacts__input {
  width: 322px;
  height: 49px;
  background-color: #E1E1E1;
  padding: 6px 64px 6px 22px;
  border: none;
  border-radius: 25px;
  color: #222224;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__button {
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  padding: 6px 7px 6px 8px;
  border: none;
  border-radius: 0px 25px 25px 0px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: -45px;
}

.footer {
  padding: 30px 230px 30px 235px;
  display: flex;
  gap: 732px;
  align-items: center;
  background-color: #222224;
}
.footer__text-left {
  color: #FBFBFB;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__right {
  display: flex;
  gap: 7px;
}/*# sourceMappingURL=cart.css.map */