@import 'vars';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.center {
	padding-left: calc(50% - $widthSite / 2);
	padding-right: calc(50% - $widthSite / 2);
}

.header-nav {
	background-color: #222;
	width: 100%;
	height: 75px;
	padding: 18px 230px;
	display: flex;
	justify-content: space-between;

	&__left {
		display: flex;
		align-items: center;
		gap: 41px;
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 25px;
	}

	&__cart {
		margin-left: 42px;
	}
}

.header-title-box {
	background-color: #F8F3F4;
	width: 100%;
	height: 148px;
	padding: 60px 230px;
	display: flex;
	justify-content: space-between;

	&__title {
		color: $colorSelect;
		font-family: $fontSite;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__breadcrumbs {
		color: $colorUnselect;
		font-family: $fontSite;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__links {
		color: $colorUnselect;
	}

	&__links-selected {
		color: $colorSelect;
	}
}

.filter-sort {
	// margin-top: 39px;
	height: 132px;
	display: flex;
	gap: 7px;
	position: relative;

	&__select {
		border: none;
		color: $colorGray3;
		font-family: $fontSite;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

.filter {
	width: 360px;
	padding: 13px 16px 16px;
	position: absolute;
	top: 39px;

	&__summary {
		display: flex;
		align-items: center;
		gap: 11px;
	}

	&__heading {
		color: $colorSimpleText;
		font-family: $fontSite;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
}

.products-catalog {
	display: flex;
	justify-content: center;
	gap: 30px;

	&__product-card {
		width: 360px;
	}

	&__image {
		margin: 0;
	}

	&__description {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin: 0;
		padding: 24px 28px 20px 18px;
		background-color: $colorBackground2;
	}

	&__title {
		color: $colorSimpleText;
		font-family: $fontSite;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__text {
		color: $colorGray4;
		font-family: $fontSite;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__price {
		margin-top: 6px;
		color: $colorSelect;
		font-family: $fontSite;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

.contacts {
	margin-top: 128px;
	padding: 97px 230px 162px 230px;
	display: flex;
	gap: 223px;
	justify-content: space-between;
	align-items: center;
	background-image: url('images/contacts_back.png');
	background-size: cover;
	background-repeat: no-repeat;

	&__left {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
	}

	&__text {
		width: 359px;
		color: #222224;
		text-align: center;
		font-family: $fontSite;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__image {
		width: 96px;
		height: 96px;
	}

	&__right {
		display: flex;
		flex-direction: column;
		gap: 34px;
		align-items: center;
	}

	&__text-right {
		color: #222224;
		text-align: center;
		font-family: $fontSite;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__title {
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
	}

	&__input {
		width: 322px;
		height: 49px;
		background-color: #E1E1E1;
		padding: 6px 64px 6px 22px;
		border: none;
		border-radius: 25px;
		color: #222224;
		font-family: $fontSite;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__button {
		width: 100px;
		height: 49px;
		background-color: $colorSelect;
		padding: 6px 7px 6px 8px;
		border: none;
		border-radius: 0px 25px 25px 0px;
		color: #fff;
		font-family: $fontSite;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-left: -45px;
	}

}

.footer {
	padding: 30px 230px 30px 235px;
	display: flex;
	gap: 732px;
	// justify-content: space-between;
	align-items: center;
	background-color: #222224;

	&__text-left {
		color: #FBFBFB;
		font-family: $fontSite;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__right {
		display: flex;
		gap: 7px;
	}
}