$widthSite: 1140px;
$colorSimpleText: #000000;
$colorSelect: #F16D7F;
$colorUnselect: #636363;
$colorGrayLight: #EAEAEA;
$colorGray: #4D4D4D;
$colorGray2: #5E5E5E;
$colorGray3: #6F6E6E;
$colorGray4: #5D5D5D;
$colorBackground: #F7F7F7;
$colorBackground2: #F8F8F8;
$fontSite: 'Lato', sans-serif;