* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-content {
  overflow: hidden;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header-nav {
  background-color: #222;
  width: 100%;
  height: 75px;
  padding: 18px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header-nav__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header-nav__right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-nav #burger {
  position: absolute;
  left: -99999999;
  visibility: hidden;
}
.header-nav #burger:checked ~ .burger-nav {
  right: 0;
}
.header-nav .burger-nav {
  width: 232px;
  padding: 32px;
  background-color: #fff;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  position: absolute;
  top: 75px;
  right: -232px;
  transition: right 0.3s;
}
.header-nav__cart {
  margin-left: 42px;
}

.header-title-box {
  background-color: #F8F3F4;
  width: 100%;
  height: 148px;
  padding: 60px 230px;
  display: flex;
  justify-content: space-between;
}
.header-title-box__title {
  color: #F16D7F;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-title-box__breadcrumbs {
  color: #636363;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.header-title-box__links {
  color: #636363;
}
.header-title-box__links-selected {
  color: #F16D7F;
}

.filter-sort {
  height: 132px;
  padding-top: 39px;
  position: relative;
  display: flex;
  gap: 30px;
}

.filter {
  width: 360px;
  padding-top: 13px;
  position: relative;
}
.filter[open] {
  background-color: #FFF;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  padding: 0 16px 16px 16px;
  align-items: center;
  gap: 11px;
}
.filter__heading {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter__content {
  background-color: #fff;
  padding: 0 16px 16px 16px;
}
.filter__item {
  margin-top: 16px;
  color: #636363;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter__title {
  color: #636363;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EAEAEA;
  border-left: 5px solid #F16D7F;
}
.filter__item[open] .filter__title {
  color: #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
}
.filter__link {
  color: #636363;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__heading {
  color: #4D4D4D;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 20px;
}
.sort__check {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #6F6E6E;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products-catalog {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.products-catalog__product-card {
  width: 360px;
  display: flex;
  flex-direction: column;
}
.products-catalog__image {
  margin: 0;
}
.products-catalog__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 24px 28px 20px 18px;
  background-color: #F8F8F8;
}
.products-catalog__title {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.products-catalog__text {
  color: #5D5D5D;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.products-catalog__price {
  margin-top: 6px;
  color: #F16D7F;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contacts {
  margin-top: 128px;
  padding: 97px 230px 162px 230px;
  display: flex;
  gap: 223px;
  justify-content: space-between;
  align-items: center;
  background-image: url("images/contacts_back.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.contacts__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.contacts__text {
  width: 359px;
  color: #222224;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__image {
  width: 96px;
  height: 96px;
}
.contacts__right {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
}
.contacts__text-right {
  color: #222224;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.contacts__input {
  width: 322px;
  height: 49px;
  background-color: #E1E1E1;
  padding: 6px 64px 6px 22px;
  border: none;
  border-radius: 25px;
  color: #222224;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contacts__button {
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  padding: 6px 7px 6px 8px;
  border: none;
  border-radius: 0px 25px 25px 0px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: -45px;
}

.footer {
  padding: 30px 230px 30px 235px;
  display: flex;
  gap: 732px;
  align-items: center;
  background-color: #222224;
}
.footer__text-left {
  color: #FBFBFB;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__right {
  display: flex;
  gap: 7px;
}/*# sourceMappingURL=style.css.map */