@import 'vars';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.box-content {
	overflow: hidden;
}

a {
	text-decoration: none;
}

.center {
	padding-left: calc(50% - $widthSite / 2);
	padding-right: calc(50% - $widthSite / 2);
}

.header-nav {
	background-color: #222;
	width: 100%;
	height: 75px;
	padding: 18px 230px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	&__left {
		display: flex;
		align-items: center;
		gap: 41px;
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 25px;
	}

	#burger {
		position: absolute;
		left: -99999999;
		visibility: hidden;

		&:checked~.burger-nav {
			right: 0;
		}
	}

	.burger-nav {
		width: 232px;
		padding: 32px;
		background-color: #fff;
		filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
		position: absolute;
		top: 75px;
		// right: 0;
		right: -232px;
		transition: right .3s;
	}

	&__cart {
		margin-left: 42px;
	}
}

.header-title-box {
	background-color: #F8F3F4;
	width: 100%;
	height: 148px;
	padding: 60px 230px;
	display: flex;
	justify-content: space-between;

	&__title {
		color: $colorSelect;
		font-family: $fontSite;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

.registration {
	display: flex;
	justify-content: center;
	margin-top: 64px;
	margin-bottom: 96px;
	margin-right: 230px;
	margin-left: 230px;
	gap: 128px;

	&__left {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__label {
		color: #222;
		font-family: $fontSite;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__input {
		width: 359px;
		padding: 13px 0 16px 17px;
		border: 1px solid #A4A4A4;
		border-radius: 0;
	}

	&__input:hover {
		border: 1px solid $colorSelect;
	}

	&__input:focus {
		outline: 1px solid $colorSelect;
	}

	&__input::placeholder {
		color: #B1B1B1;
		font-family: $fontSite;
		font-size: 13px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__radio-box {
		margin-top: 11px;
		margin-bottom: 11px;
		display: flex;
		gap: 10px;
	}

	&__radio-label {
		margin-right: 20px;
		color: #000;
		font-family: $fontSite;
		font-size: 11px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__text {
		width: 359px;
		color: #B1B1B1;
		font-family: $fontSite;
		font-size: 13px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__button {
		width: 167px;
		padding: 16px 29px 17px 29px;
		border-radius: 0;
		background-color: #fff;
		border: 1px solid #A4A4A4;
		color: #4A4A4A;
		font-family: $fontSite;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		box-sizing: content-box;
	}

	&__button:hover {
		border: 1px solid $colorSelect;
		background-color: $colorSelect;
		color: #fff;
	}

	&__svg {
		margin-left: 20px;
	}

	&__button .registration__svg path {
		fill: #000;
	}

	&__button:hover .registration__svg path {
		fill: #fff;
	}

	&__right {
		display: flex;
		flex-direction: column;
		gap: 22px;
		font-family: $fontSite;
	}

	&__title {
		font-size: 24px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__description {
		font-size: 24px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__list-item {
		display: flex;
		gap: 23px;
	}

	// &__svg-item {
	// 	width: 20px;
	// }

}

.contacts {
	padding: 97px 327px 126px 231px;
	display: flex;
	gap: 223px;
	justify-content: space-between;
	align-items: center;
	background-image: url('images/contacts_back.png');
	background-size: cover;
	background-repeat: no-repeat;

	&__left {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
	}

	&__text {
		width: 359px;
		color: #222224;
		text-align: center;
		font-family: $fontSite;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__image {
		width: 96px;
		height: 96px;
	}

	&__right {
		display: flex;
		flex-direction: column;
		gap: 34px;
		align-items: center;
	}

	&__text-right {
		color: #222224;
		text-align: center;
		font-family: $fontSite;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__title {
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
	}

	&__input {
		width: 322px;
		height: 49px;
		background-color: #E1E1E1;
		padding: 6px 64px 6px 22px;
		border: none;
		border-radius: 25px;
		color: #222224;
		font-family: $fontSite;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__input:hover {
		border: 1px solid $colorSelect;
	}

	&__input:focus {
		outline: 1px solid $colorSelect;
	}

	&__button {
		width: 100px;
		height: 49px;
		background-color: $colorSelect;
		padding: 6px 7px 6px 8px;
		border: none;
		border-radius: 0px 25px 25px 0px;
		color: #fff;
		font-family: $fontSite;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-left: -45px;
	}

}

.footer {
	padding: 30px 230px 30px 235px;
	display: flex;
	gap: 732px;
	// justify-content: space-between;
	align-items: center;
	background-color: #222224;

	&__text-left {
		color: #FBFBFB;
		font-family: $fontSite;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__right {
		display: flex;
		gap: 7px;
	}
}