html {
	font-size: 16px;
	/* 1rem = 16px */
}

.title {
	font-size: 2rem;
}

.heading {
	font-size: 1.5rem;
}

text .heading {
	font-size: 1rem;
}

@media (max-width: 768px) {
	html {
		font-size: 14px;
		/* 1rem = 14px */
	}
}

@media (max-width: 425px) {
	html {
		font-size: 12px;
		/* 1rem = 12px */
	}
}

/* FLEX */

.content {
	display: flex;
	flex-wrap: wrap;
}

.item {
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 100px;
	/* width: 100px; */
	height: 100px;
	border: 1px solid black;
}

/* сработает, если все элементы будут помещаться + останется место */
/* .item_2 {
	flex-grow: 2;
} */

/* не сработает с wrap */
/* .item_3 {
	flex-shrink: 2;
} */

/* GRID */

.grid {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, 200px); */
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-content: center;
	margin-top: 50px;
	gap: 16px;
	grid-auto-flow: dense;
}

.box {
	border: 1px solid black;
	min-height: 100px;
}

.box_3 {
	grid-column: span 2;
	grid-row: span 2;
}