// Планшетная версия (разрешение 768px, разрешение 1024 px)

@import 'vars';

@media (max-width: 1024px) {
	.header-nav {
		padding: 18px 41px 18px 32px;
	}

	.about {
		&__image {
			width: 50%;
		}

		&__description {
			width: 50%;
			padding: 138px 33px 138px 40px;
		}
	}

	.categories {
		margin: 19px 16px 154px 16px;

		&__clothing {
			display: flex;
			justify-content: center;
			gap: 19px;
			// display: grid;
			// grid-template-columns: repeat(3, 1fr);
		}

		&__card {
			width: 232px;
			height: 167px;
		}

		&__accesories {
			width: 736px;
			height: 116px;
		}
	}

	.products-catalog {
		grid-template-columns: 360px 360px;
		gap: 16px;
	}

	.promotions {
		flex-direction: column;
		padding: 48px 204px 64px 204px;
		gap: 48px;
	}

	.contacts {
		flex-direction: column;
		padding: 64px 203px 219px 209px;
		gap: 52px;

		&__button {
			margin-left: -95px;
		}
	}

	.footer {
		padding: 24px 32px;
		gap: 0;
		justify-content: space-between;
	}
}