body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	margin: 30px;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px; */
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

h2 {
	font-size: 30px;
}


.likeContainer {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
}

.likeCount {
	font-style: bold;
	font-size: 25px;
}

.likeIcon,
.heartBreakIcon {
	height: 30px;
}

svg:hover {
	cursor: pointer;
	fill: red;
	stroke: red;
}