@import 'vars';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.box-content {
	overflow: hidden;
}

a {
	text-decoration: none;
}

.center {
	padding-left: calc(50% - $widthSite / 2);
	padding-right: calc(50% - $widthSite / 2);
}

.header-nav {
	background-color: #222;
	width: 100%;
	height: 75px;
	padding: 18px 230px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	&__left {
		display: flex;
		align-items: center;
		gap: 41px;
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 25px;
	}

	#burger {
		position: absolute;
		left: -99999999;
		visibility: hidden;

		&:checked~.burger-nav {
			right: 0;
		}
	}

	.burger-nav {
		width: 232px;
		padding: 32px;
		background-color: #fff;
		filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
		position: absolute;
		top: 75px;
		// right: 0;
		right: -232px;
		transition: right .3s;
	}

	&__cart {
		margin-left: 42px;
	}
}

.header-title-box {
	background-color: #F8F3F4;
	width: 100%;
	height: 148px;
	padding: 60px 230px;
	display: flex;
	justify-content: space-between;

	&__title {
		color: $colorSelect;
		font-family: $fontSite;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

.cart-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 72px;
}

.cart {
	margin: 96px 0 128px 0;
	display: flex;
	justify-content: center;
	gap: 129px;

	&__products {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}

	&__product-card {
		width: 652px;
		display: flex;
		filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
	}

	&__product-image {
		width: 262px;
	}

	&__description {
		width: 390px;
		display: flex;
		flex-direction: column;
		gap: 6px;
		background: #FFF;
		padding: 22px 22px 62px 31px;
	}

	&__description-header {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		padding-right: 120px;
		margin-bottom: 36px;
		color: #222;
		font-family: $fontSite;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__close:hover .cart__path {
		fill: $colorSelect;
	}

	&__text {
		color: #575757;
		font-family: $fontSite;
		font-size: 22px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__text-selected {
		color: #EF5B70;
	}

	&__text-input {
		width: 44px;
		color: #656565;
		font-family: $fontSite;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		padding-left: 15px;
		margin-left: 24px;
		border: 1px solid #EAEAEA;
		border-radius: 0;
	}

	&__buttons {
		width: 652px;
		display: flex;
		justify-content: space-between;
	}

	&__button {
		padding: 17px 41px 16px 39px;
		border: 1px solid #A4A4A4;
		border-radius: 0;
		background-color: #fff;
		color: #000;
		font-family: $fontSite;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__button:hover {
		background-color: $colorSelect;
		color: white;
		border: 1px solid $colorSelect;
	}

	&__ship-form {
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		font-family: $fontSite;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__ship-title {
		color: #222;
		font-size: 16px;
	}

	&__input-box {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__ship-input {
		width: 358px;
		padding: 13px 0 13px 17px;
		border: 1px solid #A4A4A4;
		border-radius: 0;
		background-color: #fff;
		color: #222;
	}

	&__ship-input::placeholder {
		color: #B1B1B1;
	}

	&__ship-button {
		width: 102px;
		padding: 10px 14px 12px 15px;
		border: 1px solid #A4A4A4;
		border-radius: 0;
		background-color: #fff;
		color: #4A4A4A;
		font-size: 11px;
		box-sizing: content-box;
	}

	&__ship-button:hover {
		background-color: $colorSelect;
		color: white;
		border: 1px solid $colorSelect;
	}

	&__total {
		width: 360px;
		padding: 39px 34px 42px 44px;
		background-color: #F5F3F3;
		margin-top: 65px;
		display: flex;
		flex-direction: column;
		align-items: end;
	}

	&__sub {
		color: #4A4A4A;
		font-family: $fontSite;
		font-size: 11px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__sub-selected {
		margin-left: 20px;
	}

	&__sub-selected:hover {
		color: $colorSelect;
	}

	&__grand {
		margin-top: 12px;
		margin-bottom: 21px;
		color: #222;
		font-family: $fontSite;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__grand-selected {
		margin-left: 20px;
	}

	&__grand-selected:hover {
		color: $colorSelect;
	}


	&__total-button {
		margin-top: 17px;
		border: 1px solid #A4A4A4;
		border-radius: 0;
		background-color: #fff;
		padding: 15px 43px 16px 41px;
		color: #4A4A4A;
	}

	&__total-button:hover {
		background-color: $colorSelect;
		color: white;
		border: 1px solid $colorSelect;
	}
}

.contacts {
	padding: 97px 327px 126px 231px;
	display: flex;
	gap: 223px;
	justify-content: space-between;
	align-items: center;
	background-image: url('images/contacts_back.png');
	background-size: cover;
	background-repeat: no-repeat;

	&__left {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
	}

	&__text {
		width: 359px;
		color: #222224;
		text-align: center;
		font-family: $fontSite;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__image {
		width: 96px;
		height: 96px;
	}

	&__right {
		display: flex;
		flex-direction: column;
		gap: 34px;
		align-items: center;
	}

	&__text-right {
		color: #222224;
		text-align: center;
		font-family: $fontSite;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__title {
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
	}

	&__input {
		width: 322px;
		height: 49px;
		background-color: #E1E1E1;
		padding: 6px 64px 6px 22px;
		border: none;
		border-radius: 25px;
		color: #222224;
		font-family: $fontSite;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__button {
		width: 100px;
		height: 49px;
		background-color: $colorSelect;
		padding: 6px 7px 6px 8px;
		border: none;
		border-radius: 0px 25px 25px 0px;
		color: #fff;
		font-family: $fontSite;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-left: -45px;
	}

}

.footer {
	padding: 30px 230px 30px 235px;
	display: flex;
	gap: 732px;
	// justify-content: space-between;
	align-items: center;
	background-color: #222224;

	&__text-left {
		color: #FBFBFB;
		font-family: $fontSite;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__right {
		display: flex;
		gap: 7px;
	}
}